#!/bin/sh
#
# Perform minimisation and MD simulation to prepare the simulation box
# for TI simulation. This is done primarily to adjust the density of the
# system because leap will create a water box with too low a density.
#

basedir=$(pwd)

for dir in ligands_prepare complex_prepare; do
  echo "Running MD in $dir"
  cd $dir
  bash run_all_md_$dir.sh
  cd $basedir
done

for s in ligands complex; do
  if [ -f ${s}_prepare/press.rst7 ]; then
    cp ${s}_prepare/press.rst7 ${s}.rst7
    cp ${s}_premd.parm7 ${s}.parm7
  fi
  done
