minimisation
 &cntrl
   imin = 1, ntx=1,
   maxcyc = 50000, ntmin=2,
   ntpr = 50, ntwe = 50,
   ntb = 1,
   cut=10.0,
   icfe = 1, ifsc = 1, clambda = 0.5, scalpha = 0.5, scbeta = 12.0,
   logdvdl = 0,
   ntr = 1, restraint_wt = 5.0, restraintmask='!:WAT',
   timask1 = ':%ONE%', timask2 = ':%TWO%',
   scmask1 = ':%ONESC%', scmask2 = ':%TWOSC%'
 /
 &ewald
 / 
