mnimisation
 &cntrl
   imin=1, ntx=1,
   maxcyc=1000, ntmin=2,
   ntpr=50, ntwe=50,
   ntb=1,
   cut=10.0,
   icfe=1, ifsc=1, clambda=%L%, scalpha=0.5, scbeta= 12.0,
   logdvdl=0,
   timask1=':%ONE%', timask2=':%TWO%',
   %FE%
 /
 &ewald
 /

